html {
    font-size: 75%;
}

body {
    background-color:lavender;
}

a {
    text-decoration: none;
    color: rgb(10, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

header {
    background-color:white;
}

.img0 {
    width: 167px;
    position:relative;
}

.wel {
    margin: auto;
    color: rgb(14, 4, 24);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 77rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: block 3px;
}

.nav-list {
    position: relative;
    display: flex;
    list-style: none;
}

.nav-item {
    min-width: 10rem;
    text-align: center;
    padding-block: 0.5rem;
}

.nav-link {
    text-transform: uppercase;
}

.active {
    position: absolute;
    bottom: -1rem;
    height: 2px;
    width: 11rem;
    transition: transform 0.25s;
}

.nav-item:nth-child(2):hover~.active {
    transform: translateX(10rem);
}

.nav-item:nth-child(3):hover~.active {
    transform: translateX(20rem);
}

.nav-item:nth-child(4):hover~.active {
    transform: translateX(30rem);
}

.nav-item:nth-child(5):hover~.active {
    transform: translateX(40rem);
}

.active {
    border-bottom: 3px solid black;
}

h2 {
    text-align: center;
}

.container {
    max-width: 110rem;
    padding: 1.5rem;
    max-height: fit-content;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
}

.card {
    background: #0e0e0f;
    color: #fff;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 0.9rem;
}

.card-title-large {
    font-family: fantasy, sans-serif;
    font-size: 10rem;
    letter-spacing: 0.5rem;
    color: #1d1d1d;
    transform: translateX(7rem);
    transition: transform 2.5s;
}

.card-title-small {
    margin-bottom: 1.5rem;
    font-size: 4rem;
}

.card-description {
    font-size: 1.7rem;
    line-height: 1.5;
}

.card-cta {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-left: auto;
}

.card:hover .card-cta {
    background-color: #262525;
}

.card:hover .card-title-large {
    transform: translateX(-115%);
    color: #fff;
}

.card.twitter:hover {
    background-color: #1da1f2;
}

.card.instagram:hover {
    background: radial-gradient(at 20% 128%,
            #feda78 20%,
            #e23467 60%,
            #ac2bb3 90%);
}

.card.facebook:hover {
    background-color: #4267b2;
}

.card.youtube:hover {
    background-color: #c41111;
}
.gallery{
    columns:5 250px;
    gap:15px;
}
.gallery img{
margin-bottom:10px;
border-radius:5px;
width:100%;
}
.home {
    display: flex;
    border-block: solid;
    border-color: black;
    border-radius: 30px;
    height: 500px;
    margin: 0, 14px, 0, 15px;
}
main 

.col header .title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0e0f;
}
.col.contents{
    padding: 0px 30px;
    border-left:2px solid black;
}
.col .contents .bax{
 position: relative;
 padding: 20px;
 border:1px solid #131212;
 background-color: #ffffff;
 cursor: pointer;
 transition: all 0.7s;
 margin-bottom: 20px;  
}
.col .contents .bax:hover{
    box-shadow: 0px 3px 12px 0px #2360af;
    border:1px solid transparent;
}

.bax h4{
    position:relative;
    color:#d14148;
}
.bax h1{
    font-size: 20px;
    padding: 10px 0px 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#da89c1;
}
.bax p{
    line-height: 1.2;
    color: #183364;
    font-size: 17px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.oho {
    box-align: center;
    border-radius: 29px;
}
.btn {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 260px;
    margin-bottom: 200px;
    font-weight: bolder;
    box-align:center;
    background-color: #e8e8f5;
    margin-right: 150px;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.reporttt {
    width:100%;
    height:1115vh;
    color:rgba(37, 25, 3, 0.562);
    font-family: 'Courier New', Courier, monospace;
    box-sizing:border-box;
    border:solid black 5px;
    padding:5px;
}
.reporttt img {
    width: 800px;
    height:450px;
    border-radius: 15px;
}